@import "src/assets/styles/styles";

.wrapperUsers {
  min-height: 100vh;
  display: flex;
  text-align: start;

  &__sort {
    max-width: 154px;
    width: 100%;
    background: $background-filter;
    padding: 35px 26px 0px 20px;

    &_title {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 10px;
    }

    &_btn {
      padding: 5px 15px;
      background: $background-button;
      border-radius: 5px;
      color: $color-text-btn;
      margin-bottom: 10px;
      border: none;
      cursor: pointer;
    }
  }

  &__users {
    max-width: 513px;
    width: 100%;
    padding: 19px 59px 25px 34px;
  }
  &__users_title{
    margin: 19px 0 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
}