.preloader{
  position: fixed;
  left: 0;
  top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__img{
    animation: loader 2s linear infinite;
  }
}

@keyframes loader {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}