@import 'assets/styles/Normolize.css';
@import 'assets/styles/styles.scss';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.container {
  max-width: 665px;
  margin: 0 auto;
}

.btn {
  padding: 5px 15px;
  background: $background-button;
  border-radius: 5px;
  color: $color-text-btn;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}
.disabled{
  padding: 5px 15px;
  background: $background-button-disabled;
  border-radius: 5px;
  color: $color-text-btn;
  margin-bottom: 10px;
  border: none;

}
